.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//hero css

.hero{
  position: relative;
  height:55vh;
  overflow:hidden;
  img{
    width: 100%;
  }
  
  .hero-content{
    position: absolute;
    
    right: 200px;
    top: 10%;
    transform: translateX(-40%); 
    color: white;
    color: yellow;
    h1{
      text-shadow: 5px 1px 10px rgb(131, 129, 129);
    }
    p{
      padding-top: 20px;
      text-shadow: 5px 1px 10px rgb(131, 129, 129);
      text-decoration: double;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: large;
    }

  }
}
section{
  margin: 60px;
}

//special 
.special{
  .special-content{
    max-width: 650px;
    margin: auto;

  }

}
.text-center{
  text-align: center;

}

h2{
  margin-bottom: 18px;
  font-size: 38;

}