.App {
  text-align: center;
  // background-color: #282c34;

  &-logo {
    height: 40vmin;
    pointer-events: none;
  }
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// hero css

.hero {
  position: relative;
  height: 55vh;
  overflow: hidden;
  object-fit: fill;

  img {
    width: 100%;
    transform: translateY(-40%);
  }

  &-content {
    position: absolute;
    top: 20vh;
    transform: translateX(20%);
    color: white;

    h1 {
      font-size: 60px;
      margin: 0;
      text-shadow: 5px 1px 10px rgb(0, 0, 0);
    }

    p {
      padding-top: 10px;
      // color: rgb(225, 209, 209);
      // text-shadow: 5px 1px 10px rgb(91, 16, 16);
      text-decoration: double;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-size: large;
      text-shadow: 5px 1px 10px rgb(0, 0, 0);
    }
  }
}

section {
  // margin: 100px;
}

// special

.special {
  .container {
    width: 85%;
    margin: auto;
  }

  .special-content {
    margin: auto;
    padding-bottom: 20px;
  }
}

.text-center {
  text-align: center;
}

h2 {
  margin-bottom: 18px;
  font-size: 38px;
}

.special-menu {
  width: 80vw;

  ul {
    padding: 0;
  }

  .img-size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 200px;
    }
  }
}

.img-size {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    width: 200px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.listdec {
  list-style-type: none;
}

.border-radius-5 {
  border-radius: 5px;
}

.automar {
  margin: auto;
  text-align: center;
  padding-block: 10px;
  // background-color: rgb(66, 54, 54);
}

.bg-color {
  // background-color: #282c34;
}

.categoryspecial {
  padding: 10px;
  background-color: rgb(146, 146, 141);
  margin: 10px;
  color: black;
  border-radius: 5px;

  &:hover {
    background-color: rgb(4, 4, 8);
    color: white;
  }

  &:active {
    background-color: red;
  }

  &:visited {
    color: green;
  }
}

.container {
  h2 {
    // margin-left: 50px;
  }
}

.normal {
  .size1 {
    width: 200px;
    height: auto;
    padding: 20px;
  }

  h2 {
    font-size: 15px;
    position: relative;
    left: 22px;
  }
}

.active {
  background-color: black;
  color: white;
}

.filtered-dishes {
  width: 88%;
  margin: auto;

  img {
    // padding: 20px;
  }
}

.pagestyle {
  list-style-type: none;
  padding-inline: 20px;
  padding-block: 10px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 50%;

  &:hover {
    background-color: red;
  }
}

.pagination {
  justify-content: center;
}

.just {
  justify-content: center;
}

.div {
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 10vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);

  a{
    text-decoration: none;
    color: white
    }
    link{
      background-color: none;
      }

  ul {
    margin: 0;
    padding: 0;
    color: white;
    list-style-type: none;
    position: relative;
    top: 4vh;

    li {
      padding-inline: 50px;
      width: 30px;

      display: flex;
      justify-content: center;

      &:hover {
        color: yellow;
        border-radius: 25%;
        background-color: blue;
      }
    }
  }
}

.popUpContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;

  .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    border-radius: 20px;
    border: none;

    &:hover {
      background-color: grey;
      color: white;
    }
  }

  .popUp {
    width: 40vw;
    background-color: black;
    padding: 20px;
    
    .about {
      color: white;
      height: 100px;
      overflow-y: scroll;


      div {
        font-size: 12px;
        display: inline;
        padding: 20px;
        border-radius: 20px;
        color: white;
      }
    }

    .orderbutton {
      display: flex;
      
      justify-content: center;
      align-items: center;

      button {
        height: 30px;
        display: block;
        padding: 10px;
        padding-inline: 10px;
        border-radius: 10px;
        background-color: yellow;
        border: none;

        &:hover {
          background-color: grey;
        }
      }
    }

    img {
      border-radius: 40px;
      
    }

    .popimg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40vw;

      div {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        border-radius: 20px;
      }
    }
  }
}

.Cardstyle {
  p {
    padding: 0;
    margin: 0;
    color: white;
    display: block;
    position: relative;
    bottom: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;

    &:hover {
      // Add hover styles
    }
  }

  & {
    margin: 20px;
    display: flex;
    // justify-content: left;
    flex-direction: column;
    width: 200px;
    height: 200px;
    overflow: hidden;

    img {
      width: 200px;
      height: 200px;
    }
  }
}

.headline{
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;

}

//Add to cart style

.add-to-cart-wrapper{
  position: fixed;
  top: 40%;
  right: 2%;
  overflow: scroll;
  max-height: 57vh;
  max-width: 150px;
  // display: flex;
  // justify-content: center;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
.add-to-cart-item{
  border-bottom: 2px dashed ;
  padding: 10px;
  h6{
  padding: 0;
  margin: 0;
  }
  img{
    width:100%;
    height:80px;
    object-fit:cover;

    }
  }
  
}
.load{
  justify-content: center;
  align-items: center;
  text-align: center;
    }


  .checkoutCard{
    justify-content: 'center';
    text-align: center;
    padding: 20px;
   
    img{
      width: 200px;
      height: 200px;
      border-radius: 3px;
      }
    }

    .checkout{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap
      }

@media screen and ( max-width:700px  ){
  .hero{
     img {
    width: 100%;
    transform: translateY(0%);
  }
    }
  }
  